In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

df9 = pd.read_csv('sahuaripa', skiprows=19, sep='\s+',header=None,names=["FECHA","PRECIP","EVAP","TMAX","TMIN"])
#dtype={'Fecha': str,'PRECIP':float,'EVAP':float,'TMAX':float,'TMIN':float}
df9['FECHA'] = pd.to_datetime(df9.apply(lambda x: x['FECHA'], 1), dayfirst=True)

In [3]:
pd.options.display.max_rows = 10000

In [4]:
# Lee los primeros 5 renglones del archivo
df9.head()

       FECHA PRECIP EVAP  TMAX  TMIN
0 1965-07-21    0.5  5.9  39.5  26.5
1 1965-07-22      0  6.8  39.5  21.5
2 1965-07-23      0  6.6    40    25
3 1965-07-24      0  9.2  40.5  25.5
4 1965-07-25      4  7.7    40    25

In [5]:
df9.tail()

          FECHA PRECIP EVAP  TMAX  TMIN
9775 1993-12-26      0  2.3  20.5     4
9776 1993-12-27      0  0.9  20.5     5
9777 1993-12-28      0  0.1  22.5  11.5
9778 1993-12-29      0  3.9    22   8.5
9779 1993-12-30      0  3.5    24     9

In [6]:
df9 = pd.DataFrame(df9)
cols = ['PRECIP', 'EVAP', 'TMAX', 'TMIN']
df9[cols] = df9[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [7]:
df9.dtypes

FECHA     datetime64[ns]
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
dtype: object

In [8]:
df9.mean()

PRECIP     1.748352
EVAP       5.737895
TMAX      32.845116
TMIN      14.606289
dtype: float64

In [9]:
df9.std()

PRECIP    6.773581
EVAP      3.106058
TMAX      7.214200
TMIN      7.434493
dtype: float64

In [10]:
df9.median()

PRECIP     0.0
EVAP       5.4
TMAX      34.0
TMIN      14.0
dtype: float64

In [11]:
#df9 = df9.drop(['FECHA'], 1)

In [12]:
df9.max()

FECHA     1993-12-30 00:00:00
PRECIP                    160
EVAP                       18
TMAX                       51
TMIN                       31
dtype: object

In [13]:
df9.min()

FECHA     1965-07-21 00:00:00
PRECIP                      0
EVAP                      0.1
TMAX                       11
TMIN                       -4
dtype: object

In [14]:
df9.describe()

            PRECIP         EVAP         TMAX         TMIN
count  9772.000000  9616.000000  9777.000000  9779.000000
mean      1.748352     5.737895    32.845116    14.606289
std       6.773581     3.106058     7.214200     7.434493
min       0.000000     0.100000    11.000000    -4.000000
25%       0.000000     3.200000    27.500000     8.000000
50%       0.000000     5.400000    34.000000    14.000000
75%       0.000000     7.800000    38.000000    22.000000
max     160.000000    18.000000    51.000000    31.000000

In [15]:
#La precipitación esta sumamente relacionada con la lluvia así que asumiremos
#que toda la cantida de precipitación es debido únicamente a la lluvida
#Declarando una nueva variable df10, usamos el comando set index y resample para sacar 
#la media de cada mes 
df10 = df9.set_index('FECHA').resample('M')["PRECIP"].mean()
#Se muestra df10 que es una tabla de datos y con esto podemos ver cuales meses han tenido mayor 
#precipitación 
df10

In [20]:
#se declara una tabla df11 que tenga la media de las temperaturas
df11 = df9.set_index('FECHA').resample('M')["TMAX", "TMIN"].mean()
df11

                 TMAX       TMIN
FECHA
1965-07-31  40.090909  24.454545
1965-08-31  37.370968  23.322581
1965-09-30  36.166667  21.016667
1965-10-31  36.967742  14.387097
1965-11-30  32.050000  11.000000
1965-12-31  21.741935   8.258065
1966-01-31  21.467742   3.629032
1966-02-28  23.285714   4.910714
1966-03-31  28.790323   8.612903
1966-04-30  34.100000  14.000000
1966-05-31  39.516129  20.145161
1966-06-30  41.883333  23.050000
1966-07-31  38.258065  24.322581
1966-08-31  34.483871  23.322581
1966-09-30  37.616667  21.733333
1966-10-31  34.500000  14.596774
1966-11-30  30.583333   9.983333
1966-12-31  25.000000   5.241935
1967-01-31  27.016129   4.048387
1967-02-28  28.482143   6.964286
1967-03-31  33.290323  11.225806
1967-04-30  34.283333  13.766667
1967-05-31  38.370968  17.596774
1967-06-30  39.666667  22.400000
1967-07-31  36.451613  23.225806
1967-08-31  37.032258  22.516129
1967-09-30  38.433333  22.300000
1967-10-31  35.741935  16.483871
1967-11-30  28.933333  10.516667
1967-12-31  21.258065   7.564516
1968-01-31  22.532258   7.887097
1968-02-29  25.431034  10.034483
1968-03-31  26.048387  10.725806
1968-04-30  31.383333  12.650000
1968-05-31  37.483871  16.193548
1968-06-30  41.916667  24.300000
1968-07-31  37.290323  23.274194
1968-08-31  35.661290  22.080645
1968-09-30  37.350000  19.950000
1968-10-31  36.370968  14.532258
1968-11-30  28.250000   8.550000
1968-12-31  24.709677   3.741935
1969-01-31  25.516129   7.112903
1969-02-28  25.285714   6.375000
1969-03-31  28.387097   6.725806
1969-04-30  35.666667  13.500000
1969-05-31  38.580645  18.016129
1969-06-30  41.400000  22.600000
1969-07-31  38.661290  25.112903
1969-08-31  38.677419  23.806452
1969-09-30  38.966667  20.833333
1969-10-31  34.209677  15.758065
1969-11-30  27.866667  10.816667
1969-12-31  23.370968   5.935484
1970-01-31  23.967742   4.064516
1970-02-28  27.071429   6.500000
1970-03-31  28.629032   8.419355
1970-04-30  32.500000  12.166667
1970-05-31  39.435484  17.967742
1970-06-30  42.150000  23.216667
1970-07-31  39.145161  23.967742
1970-08-31  38.064516  23.145161
1970-09-30  37.466667  22.333333
1970-10-31  34.774194  13.290323
1970-11-30  32.500000   7.666667
1970-12-31  27.354839   5.709677
1971-01-31  27.096774   4.435484
1971-02-28  27.678571   4.428571
1971-03-31  33.661290   8.161290
1971-04-30  34.150000  12.200000
1971-05-31  37.177419  16.516129
1971-06-30  40.866667  22.516667
1971-07-31  39.580645  24.032258
1971-08-31  36.048387  22.370968
1971-09-30  38.316667  20.616667
1971-10-31  32.548387  16.129032
1971-11-30  28.550000   8.833333
1971-12-31  22.016129   6.322581
1972-01-31  25.161290   5.564516
1972-02-29  29.517241   5.793103
1972-03-31  34.064516  11.822581
1972-04-30  36.206897  13.300000
1972-05-31  38.048387  17.806452
1972-06-30  39.983333  23.700000
1972-07-31  40.306452  24.306452
1972-08-31  36.645161  23.693548
1972-09-30  37.916667  21.783333
1972-10-31  33.516129  18.258065
1972-11-30  26.400000   8.483333
1972-12-31  23.806452   7.564516
1973-01-31  20.370968   5.370968
1973-02-28  24.017857   8.357143
1973-03-31  25.887097   9.290323
1973-04-30  31.133333  11.150000
1973-05-31  37.870968  17.774194
1973-06-30  41.550000  22.816667
1973-07-31  39.612903  24.403226
1973-08-31  38.370968  23.306452
1973-09-30  40.450000  22.783333
1973-10-31  37.274194  13.564516
1973-11-30  31.283333   8.316667
1973-12-31  26.838710   3.193548
1974-01-31  24.758065   6.225806
1974-02-28  27.714286   4.571429
1974-03-31        NaN        NaN
1974-04-30  35.866667  12.683333
1974-05-31  39.274194  18.032258
1974-06-30  42.916667  23.866667
1974-07-31  36.370968  23.419355
1974-08-31  35.741935  22.225806
1974-09-30  35.583333  20.300000
1974-10-31  33.612903  16.548387
1974-11-30  26.833333  10.016667
1974-12-31  22.435484   4.370968
1975-01-31  23.612903   4.629032
1975-02-28  25.892857   5.607143
1975-03-31  29.338710   8.564516
1975-04-30  31.966667  10.816667
1975-05-31  37.161290  15.403226
1975-06-30  42.750000  22.600000
1975-07-31  35.854839  23.096774
1975-08-31  35.887097  22.629032
1975-09-30  35.416667  20.450000
1975-10-31  34.838710  12.596774
1975-11-30  30.316667   7.816667
1975-12-31  24.693548   5.080645
1976-01-31        NaN        NaN
1976-02-29        NaN        NaN
1976-03-31  30.758065   8.241935
1976-04-30  33.483333  12.366667
1976-05-31  37.354839  16.532258
1976-06-30  42.966667  22.133333
1976-07-31  36.467742  22.696774
1976-08-31  39.435484  23.112903
1976-09-30  35.766667  20.516667
1976-10-31        NaN        NaN
1976-11-30  27.033333  10.200000
1976-12-31  22.725806   5.790323
1977-01-31  21.951613   6.193548
1977-02-28  28.660714   5.892857
1977-03-31  28.612903   7.629032
1977-04-30        NaN        NaN
1977-05-31  36.741935  17.741935
1977-06-30  43.250000  24.100000
1977-07-31  37.919355  23.387097
1977-08-31  37.596774  23.532258
1977-09-30  35.966667  22.116667
1977-10-31  33.354839  17.951613
1977-11-30  28.850000   9.633333
1977-12-31  26.758065   5.064516
1978-01-31  22.967742   6.274194
1978-02-28  25.285714   6.928571
1978-03-31  29.032258  10.032258
1978-04-30  34.416667  12.050000
1978-05-31  39.241935  19.177419
1978-06-30  43.100000  25.600000
1978-07-31  40.129032  25.532258
1978-08-31  36.919355  23.483871
1978-09-30  37.600000  22.083333
1978-10-31  34.629032  17.290323
1978-11-30  26.216667   9.783333
1978-12-31  18.516129   5.870968
1979-01-31  19.177419   6.677419
1979-02-28  23.875000   6.714286
1979-03-31  26.935484   7.870968
1979-04-30  34.766667  11.983333
1979-05-31  36.774194  17.145161
1979-06-30  42.483333  22.566667
1979-07-31  41.016129  24.983871
1979-08-31  37.500000  21.725806
1979-09-30  38.500000  20.483333
1979-10-31  37.467742  13.467742
1979-11-30  28.100000   7.266667
1979-12-31  24.935484   5.580645
1980-01-31  25.370968   5.596774
1980-02-29  27.517241   9.327586
1980-03-31  29.887097  10.096774
1980-04-30  35.150000  13.366667
1980-05-31  37.354839  17.596774
1980-06-30  44.550000  25.133333
1980-07-31  40.080645  24.983871
1980-08-31  36.790323  23.209677
1980-09-30  38.100000  22.850000
1980-10-31  34.032258  16.419355
1980-11-30  29.083333   8.500000
1980-12-31  27.080645   6.790323
1981-01-31  22.241935   8.274194
1981-02-28  27.053571   7.464286
1981-03-31  26.774194   8.177419
1981-04-30  33.966667  15.083333
1981-05-31  36.096774  17.838710
1981-06-30  41.850000  25.133333
1981-07-31  37.338710  23.580645
1981-08-31  38.096774  23.145161
1981-09-30  36.100000  21.233333
1981-10-31  33.451613  16.758065
1981-11-30  30.716667   8.716667
1981-12-31  26.983871   5.112903
1982-01-31  24.403226   6.064516
1982-02-28  28.303571   7.285714
1982-03-31  31.677419  10.161290
1982-04-30  36.000000  14.200000
1982-05-31  37.338710  17.758065
1982-06-30  42.716667  22.333333
1982-07-31  39.629032  24.145161
1982-08-31  39.451613  23.725806
1982-09-30  38.923333  22.183333
1982-10-31  36.129032  12.983871
1982-11-30  26.883333  11.433333
1982-12-31  19.983871   5.951613
1983-01-31  21.822581   5.967742
1983-02-28  24.892857   6.214286
1983-03-31  25.774194   8.677419
1983-04-30  28.716667  10.100000
1983-05-31  37.741935  14.435484
1983-06-30  41.500000  20.550000
1983-07-31  40.467742  23.516129
1983-08-31  36.241935  22.596774
1983-09-30  35.650000  22.100000
1983-10-31  32.064516  16.112903
1983-11-30  25.933333   9.133333
1983-12-31  23.822581   6.080645
1984-01-31  23.419355   5.564516
1984-02-29  27.103448   4.568966
1984-03-31  31.661290   8.016129
1984-04-30  33.433333  12.333333
1984-05-31  40.629032  19.161290
1984-06-30        NaN        NaN
1984-07-31        NaN        NaN
1984-08-31        NaN        NaN
1984-09-30        NaN        NaN
1984-10-31        NaN        NaN
1984-11-30  27.450000   8.016667
1984-12-31  21.290323   8.064516
1985-01-31        NaN        NaN
1985-02-28  24.089286   5.839286
1985-03-31  28.854839   8.774194
1985-04-30  34.533333  13.500000
1985-05-31        NaN        NaN
1985-06-30  42.050000  22.933333
1985-07-31  39.387097  23.709677
1985-08-31  37.064516  23.145161
1985-09-30  35.033333  18.733333
1985-10-31  32.016129  14.612903
1985-11-30  26.716667   8.733333
1985-12-31  24.370968   3.274194
1986-01-31  27.354839   5.080645
1986-02-28  27.142857   7.625000
1986-03-31  31.258065  10.016129
1986-04-30  35.516667  14.800000
1986-05-31  38.790323  18.225806
1986-06-30  40.316667  23.513333
1986-07-31  34.370968  22.790323
1986-08-31  36.032258  23.306452
1986-09-30  35.568966  20.350000
1986-10-31        NaN        NaN
1986-11-30        NaN        NaN
1986-12-31        NaN        NaN
1987-01-31        NaN        NaN
1987-02-28        NaN        NaN
1987-03-31        NaN        NaN
1987-04-30        NaN        NaN
1987-05-31  36.566667  17.583333
1987-06-30  43.066667  22.283333
1987-07-31  43.080645  24.483871
1987-08-31  37.467742  22.548387
1987-09-30  37.100000  19.600000
1987-10-31  37.500000  17.109677
1987-11-30  29.633333   8.650000
1987-12-31        NaN        NaN
1988-01-31  24.338710   5.016129
1988-02-29  27.913793   7.500000
1988-03-31  31.967742   8.870968
1988-04-30  33.683333  13.366667
1988-05-31  39.193548  17.532258
1988-06-30  42.850000  23.716667
1988-07-31  37.306452  23.693548
1988-08-31  36.225806  23.548387
1988-09-30  38.050000  20.983333
1988-10-31  35.451613  16.758065
1988-11-30  29.350000   7.183333
1988-12-31  23.822581   3.661290
1989-01-31  22.290323   3.580645
1989-02-28  27.946429   8.375000
1989-03-31  32.306452  10.500000
1989-04-30  38.650000  14.633333
1989-05-31  40.548387  18.354839
1989-06-30  43.333333  23.100000
1989-07-31  41.790323  25.080645
1989-08-31  36.064516  22.822581
1989-09-30  38.166667  21.033333
1989-10-31  36.225806  14.645161
1989-11-30  29.283333   7.300000
1989-12-31  23.645161   6.661290
1990-01-31  22.693548   4.677419
1990-02-28  23.875000   4.785714
1990-03-31  29.177419   8.806452
1990-04-30  35.583333  13.250000
1990-05-31  38.483871  17.935484
1990-06-30  44.016667  24.750000
1990-07-31  34.967742  22.838710
1990-08-31  34.467742  21.532258
1990-09-30  35.433333  21.483333
1990-10-31  33.548387  14.580645
1990-11-30  26.516667  10.383333
1990-12-31  22.274194   6.516129
1991-01-31  21.209677   6.032258
1991-02-28  25.607143   8.053571
1991-03-31  26.483871   8.290323
1991-04-30  34.133333  10.566667
1991-05-31  38.290323  15.580645
1991-06-30  41.766667  20.183333
1991-07-31  37.580645  23.629032
1991-08-31  35.661290  22.548387
1991-09-30  33.216667  20.516667
1991-10-31  34.822581  14.338710
1991-11-30  27.016667   8.116667
1991-12-31  20.435484   6.741935
1992-01-31  19.290323   6.790323
1992-02-29  24.000000   7.931034
1992-03-31  26.483871   8.241935
1992-04-30  34.483333  12.650000
1992-05-31  37.887097  18.193548
1992-06-30  42.500000  21.366667
1992-07-31  40.290323  24.500000
1992-08-31  36.290323  22.483871
1992-09-30  39.450000  21.116667
1992-10-31  36.403226  14.274194
1992-11-30  27.583333   7.683333
1992-12-31  22.129032   7.516129
1993-01-31  22.080645   9.629032
1993-02-28  22.964286   8.160714
1993-03-31  29.048387   8.419355
1993-04-30  34.416667  11.716667
1993-05-31  39.306452  17.532258
1993-06-30  43.550000  22.133333
1993-07-31  36.838710  23.193548
1993-08-31  37.354839  23.096774
1993-09-30  35.633333  19.950000
1993-10-31  33.112903  14.887097
1993-11-30  25.316667  10.033333
1993-12-31  23.700000   7.716667

In [25]:
df12 = df9.set_index('FECHA').resample('Y')["TMAX", "TMIN"].mean()
df12

                 TMAX       TMIN
FECHA
1965-12-31  33.329268  16.185976
1966-12-31  32.493151  14.510959
1967-12-31  33.263014  14.923288
1968-12-31  32.042350  14.497268
1969-12-31  33.080822  14.760274
1970-12-31  33.613699  14.073973
1971-12-31  33.160274  13.934247
1972-12-31  33.460274  15.206284
1973-12-31  32.926027  14.219178
1974-12-31  32.844311  14.818862
1975-12-31  32.332877  13.313699
1976-12-31  33.987273  15.724000
1977-12-31  32.702985  14.886567
1978-12-31  32.363014  15.389041
1979-12-31  32.663014  13.912329
1980-12-31  33.751366  15.331967
1981-12-31  32.567123  15.078082
1982-12-31  33.466301  14.884932
1983-12-31  31.252055  13.834247
1984-12-31  29.293427   9.427230
1985-12-31  32.465347  14.387789
1986-12-31  34.075368  16.246886
1987-12-31  37.795775  18.929108
1988-12-31  33.346995  14.334699
1989-12-31  34.204110  14.705479
1990-12-31  31.778082  14.338356
1991-12-31  31.369863  13.750685
1992-12-31  32.236339  14.416667
1993-12-31  32.009615  14.765110

In [27]:
df12['prom'] = (df12['TMAX'] + df12['TMIN'])/2

In [29]:
df12.tail(20)

                 TMAX       TMIN       prom
FECHA
1974-12-31  32.844311  14.818862  23.831587
1975-12-31  32.332877  13.313699  22.823288
1976-12-31  33.987273  15.724000  24.855636
1977-12-31  32.702985  14.886567  23.794776
1978-12-31  32.363014  15.389041  23.876027
1979-12-31  32.663014  13.912329  23.287671
1980-12-31  33.751366  15.331967  24.541667
1981-12-31  32.567123  15.078082  23.822603
1982-12-31  33.466301  14.884932  24.175616
1983-12-31  31.252055  13.834247  22.543151
1984-12-31  29.293427   9.427230  19.360329
1985-12-31  32.465347  14.387789  23.426568
1986-12-31  34.075368  16.246886  25.161127
1987-12-31  37.795775  18.929108  28.362441
1988-12-31  33.346995  14.334699  23.840847
1989-12-31  34.204110  14.705479  24.454795
1990-12-31  31.778082  14.338356  23.058219
1991-12-31  31.369863  13.750685  22.560274
1992-12-31  32.236339  14.416667  23.326503
1993-12-31  32.009615  14.765110  23.387363

In [35]:
#Se modifica df10 para que tenga la media de precipitación anual
df10 = df9.set_index('FECHA').resample('Y')["PRECIP"].mean()
#Se muestran los últimos 20 datos
df10.tail(20)

FECHA
1974-12-31    1.856287
1975-12-31    1.563562
1976-12-31    1.126182
1977-12-31    1.747761
1978-12-31    1.768132
1979-12-31    1.319178
1980-12-31    1.075137
1981-12-31    1.810959
1982-12-31    1.328767
1983-12-31    2.465659
1984-12-31    1.293427
1985-12-31    2.426910
1986-12-31    2.392674
1987-12-31    1.576056
1988-12-31    1.769945
1989-12-31    1.860606
1990-12-31    3.105205
1991-12-31    2.201648
1992-12-31    1.676230
1993-12-31    2.170879
Freq: A-DEC, Name: PRECIP, dtype: float64